.map{
    height: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);   

}

.map .leaflet-container {
    height: 100%;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-container {
    width: 150px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
@media (max-width: 2000px){
    .map{
      margin-bottom: 10px;
    }
  }

.scaleinfo {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(207, 255, 203, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  float: right;
  position: relative;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.holder {
  position: relative;
}
